#imfeelinglucky {
    margin-left: 10px;
}

.searchbuttons {
    margin-top: 20px;
    text-align: center;
    height: 30px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#searchbar {
    width: 400px;
    height: 25px;
    margin-top: -30px;
}

#searcharea {
    text-align: center;
    padding-top: 200px;

}

#unitedkingdom {
    position: relative;
    bottom: 5%;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top: 1px;
    border-bottom: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 475px;
    color: rgba(0,0,0,.54);
    background: #f2f2f2;
    padding-left: 25px;
    font-size: 15px;
}

.gmailimages {
    position: absolute;
    top: 1%;
    right: 1%;
}

.aboutstore {
    position: absolute;
    top: 1%;
    left: 1%;
}


#about {
    margin-right: 5px;
}

#gmail {
    margin-right: 5px;
}

.links {
    color: #000;
    text-decoration: none;
    font-size: 13px;
}

body {
    font-family: Arial, sans-serif;
    margin:0;
    padding:0;
}